///// Configuración de Juan para crear sus módulos. Una vez creada la BDD en SUPABASE, esto se elimina
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=password
DB_DATABASE=database
NODE_ENV=development
/////

JWT_SECRET=tu_clave_aqui
JWT_EXPIRES_IN=1h