# APP
NODE_ENV=development
PORT=3000

# DATABASE - SUPABASE
# 1) Ir a Supabase, al dashboard principal
# 2) Botón "Connect" en el centro superior de la pantalla
# 3) En la pestaña Connection String, en la opción Method, dejar Transaction Pooler. Debajo debe aparecer un chulito verde que dice "IPv4 compatible"
# 4) Sobre el chulo darle a View parameters
# 5) Copiar los siguientes parámetros:
DATABASE_URL= la url se modifica, entonces copiar nuevamente la que aparece y reemplazar la contraseña con la de Supabase: postgresql://postgres.djbdnaxeznrkcrkosmzf:[YOUR-PASSWORD]@aws-1-us-east-1.pooler.supabase.com:6543/postgres

#6) Inicializar servidor

# JWT CONNECTION
JWT_SECRET=tu_clave_aqui
JWT_EXPIRES_IN=1h

# Clave secreta de Stripe — la encuentras en dashboard.stripe.com > Developers > API keys
STRIPE_SECRET_KEY=YOUR_STRIPE_SECRET_KEY


# Clave del webhook — la obtienes cuando configuras el webhook en el dashboard de Stripe
# O cuando usas el Stripe CLI en desarrollo (ver paso 4)
STRIPE_WEBHOOK_SECRET=YOUR_STRIPE_WEBHOOK_SECRET
