# APP
NODE_ENV=development
PORT=3000

# DATABASE - SUPABASE
# 1) Ir a Supabase
# 2) Botón "Connect"
# 3) Copiar "Connection string"
# 4) Reemplazar aquí
DATABASE_URL=postgresql://postgres:proyectoHenry123@db.djbdnaxeznrkcrkosmzf.supabase.co:5432/postgres
